@import "mocha.css"; 

* {
  font-family: "JetBrainsMonoNerdFont";
  font-size: 18px;
  min-height: 0;
  }

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  padding: 0.2rem;
}

#workspaces button.active {
  color: @sky;
  background-color: @overlay0;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#power-profiles-deamon,
#custom-power {
  background-color: @surface0;
  padding: 0.4rem;
  margin: 4px;
}

#clock {
  color: @blue;
  margin-right: 1rem;
}

#battery {
  color: @green;
  padding-right:1rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  margin-right: 1rem;
}
