/* Gruvbox */
@define-color fg #ebdbb2;
@define-color bg #282828;
@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #d65d0e;

* {
    font-family:
        JetBrainsMonoNerdFont Propo,
        otf-font-awesome,
        monospace;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    transition-property: background-color;
}

#tray,
#network,
#backlight,
#battery,
#custom-swaync,
#idle_inhibitor,
#clock {
    padding: 5px;
    background-color: @bg;
}

#pulseaudio {
    color: @yellow;
    padding-left: 8px;
    padding-right: 8px;
}

#backlight {
    color: @aqua;
}

#network {
    color: @blue;
    padding-right:5px;
}

#battery {
    color: @green;
}

#battery.critical {
    color: @red;
}

#battery.warning {
    color: @red;
}

#tray {
    background-color: @bg;
    padding-right:5px;
}

#idle_inhibitor.activated {
    color:@green;
}

#workspaces button {
    color: @fg;
    background-color: @bg;
    border-radius: 0px;
    padding: 0 10px;
}

#workspaces button.active {
    background-color: @orange;
    color: @bg;
}

#workspaces button.active:hover {
    background-color: @orange;
    color: @bg;
}

#workspaces button:hover {
    background: @orange;
    color: @bg;
}

#workspaces button.urgent {
    background-color: @red;
}

#workspaces button.urgent:hover {
    background-color: @red;
}

#window {
    padding-left: 5px;
    font-size: 16px;
}

tooltip {
    background-color: @bg;
}

tooltip label {
    color: @fg;
}
