[Desktop Entry]
Type=Application
Name=File Manager
Icon=yazi
Exec=/usr/local/bin/st -e yazi %f
Categories=System;FileManager;
MimeType=inode/directory;
